<div class="container pl-5">
    <h3 id="header-1">Would you like to...</h3>
    <div class="create-or-join">
         <%= link_to 'Create MeetUp', new_search_path, class: "create-meetup" %>
         <%= link_to 'Join MeetUp', new_meetup_search_path, class: "join-meetup" %>
    </div>
</div>


