<div class="container pl-5">
    <h1 class="header-1">Would you like to...</h1>
    <div class="create-or-join">
         <%= link_to 'Create MeetUp', new_search_path, class: "create-meetup" %>
         <%= link_to 'Join MeetUp', "/", class: "join-meetup" %>
    </div>

</div>


