<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <%#<%= video_tag "video.mp4", controls: false, autoplay: true, muted: 
      true, loop: true, id: "bgvideobg", class: "fullscreen-bg-video", type: 
      "video/mp4" %> 
      <%#<video controls="controls">
      <source class="video" src="assets/video2.mp4" type="video/mp4">
      </video>%>
      <h1 class="display-4 font-weight-normal">Ping me</h1>
      <p class="lead font-weight-normal">Leading app to meet like-minded people around you.</p>
      <% if !user_signed_in?%>
      <%= link_to 'Sign Up', new_user_path, class: "btn btn-outline-secondary mr-3" %>
      <%= link_to 'Log In', new_session_path, class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
</div>

