
<div class="container border ">
    <div class="container border m-3">
        <h2>You are going to:</h2>
        <div>
            <% @meetup_locations.each do |meetup_location|%>
                <p>
                
                <%=meetup_location.place_name%> 
                at <%=meetup_location.place_address%>
                at <%=meetup_location.time%>
                </p>
            <% end %>
        </div>
    </div>
</div>
