<div class="container border meetup-index">
    <div id="map" class="container border m-3">
        <p>Map placeholder</p>
    </div>

    <div id="message" class="container border m-3">
        <p>Messages and alerts</p>
    </div>
</div>
<div class="container">
    <h4 class="header">Ping me!</h4>
</div>
<div id="list" class="container border">
    <div id="list-items" class="container border p-2">
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
        <p>List of posts of people and restaurants they're going</p>
    </div>
</div>
<!--<script>
// Initialize and add the map
    function initMap() {
    // The location of Uluru
    var uluru = {lat: 49.2478853, lng: -122.902864};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 12, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASlWSWWSeh7KDirc6UrB1qVy3ngCWVVZ0&callback=initMap"
  type="text/javascript">
</script>-->