<div>
    <div>
        <h1>Thanks for creating a Ping!</h1>
    </div>
    <div>
        You're going to <%=@meetup_location.place_name%>
        at <%=@meetup_location.place_address%> 
        at  <%=@meetup_location.date_time.strftime("%B %d, %Y (%A) at %l:%M %P")%>   
    </div>
</div>